.cardDashboardProprietario {
  background-color: var(--cor-dark-medium);
  padding: 20px 30px;

  color: var(--cor-light);

  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 235px;
}

.cardDashboardProprietario .titulo {
  margin: 0 auto;
}


.cardDashboardProprietario .conteudo {
  margin: auto 0;
}

.cardDashboardProprietario .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardDashboardProprietario .footer .fontSizeBotao {
  font-size: 12px;
}

.cardDashboardProprietario .footer .conteudo {
  font-size: 14px;
  font-weight: 400;
}