@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Roboto:wght@500&display=swap');
.container-perfil {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.header-perfil {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: end;
  margin-bottom: 20px;
}

.perfil-header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
}

.perfil-title {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
}

.perfil-score {
  background-color: #EC1F46;
  width: 80px;
  height: 55px;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  font: 8px;
  padding: 8px;
  line-height: 1;
  align-items: center;
}

.container-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
}

.info-desc {
  width: 40%;
}

.info-carousel {
  width: 70%;
  height: 400px;
  display: flex;
  background-color: rgb(49, 128, 128);
  margin-right: 30px;
  border-radius: 6px;
}


.info-carousel .awssld__bullets {
  display: none;
}

.info-carousel .awssld__content {
  border-radius: 6px;
}

.infor-carousel .awssld__controls__arrow-left .awssld__controls__arrow-right {
  color: #EC1F46;
  width: 10px;
} 

.info-location {
  width: 100%;
  height: 400px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.info-map {
  height: 400px;
  width: 100%;
  overflow:hidden;
  position:relative;
}

.info-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  margin-top: 20px;
}

.score-desc {
  font-size: 11px;
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 2px;
}

.score-value {
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
}

.info-detail {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color:#0a223d;
  border: 1px #0A223D solid;
  height: 100%;
  padding: 45px 30px;
  display: flex;
  justify-content: space-between;
}

.detail-group {
  height: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}

.detail-header {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  align-items: center;
  font-weight: 500;
  color: #fff;
  font: 16px;
}

.detail-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.detail-desc {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  margin-top: 10px;
}


.detail-number {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.btn-enviar-whatsapp {
  width: 100%;
  height: 40px;
  padding: 1px 10px;
  font-size: 14px;
}

.btn-whatsapp {
  margin-right: 5px;
}

.btn-whatsapp:hover {
  color: var(--cor-principal);
}



.dado-semanal-item {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.btn-dados-semanal {
  display: none;
}

.content-item {
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden;
  padding: 0 20px;
}

.dado-semanal-container {
  max-height: 200px;
  overflow: hidden;
  transition: 0.5s;
  flex-wrap: wrap;
  display: flex;
  background-color: #fff;
}

.label-dados-semanal {
  height: 50px;
  width: 100%;
  background-color: #0a223d;
  border-radius: 4px;
  cursor: pointer;
}

.itens-dado-semanal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 15px;
  justify-content:space-between
}

.header-localizacao {
  height: 45px; 
  background-color: #0a223d;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}