.pm-entrar-conteudo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.pm-entrar-info {
  display: flex;
  width: 40%;
  height: 100vh;
  background-color: #0F0101;
  flex-direction: column;
}

.pm-entrar-credenciais {
  display: flex;
  width: 60%;
  height: 100vh;
  background-color: #fff;
  justify-content: flex-start;
}
.pm-entrar-logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.pm-logo-words {
  font-family: 'Luckiest Guy', cursive;
  font-size: 48px;
}

.pm-depoimento {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pm-depoimento-content {
  padding: 30px;
  background-color: transparent;
  width: 60%;
  height: 300px;
  border: 1px #f5ececcc solid;
  border-radius: 8px;
}

.pm-img-world {
  background-image: url("../UI/imagens/world.png");
  height: 300px;
  width: 500px;
}

.pm-depoimento-content img {
  height: 250px;
}

.pm-entrar-credenciais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pm-credenciais-acesso {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 35px;
  margin-top: 90px
}

.pm-credenciais-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  color: #696F79;
}

.pm-credenciais-botao {
  margin-top: 50px;
  height: 50px;
  width: 100%;
}

.pm-center {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pm-credenciais-cadastro {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  color: #245C74;
  margin-top: 50px;
}

.pm-esquece-senha {
  display: flex;
  justify-content: flex-end;
  font-family: 'Mulish', sans-serif;
  color: #245C74;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8692A6;
  opacity: 0.5; /* Firefox */
}