.inputDescricao {
  padding-bottom: 80px;
}

.botaoAdicionarLocais {
  cursor: pointer;
  color: var(--cor-sucesso);
  border: 1px solid var(--cor-sucesso);
  border-radius: 4px;
  font-size: 1.15em;
  transition: 200ms;
}

.botaoAdicionarLocais:hover {
  color: var(--cor-light);
  background-color: var(--cor-sucesso);
  transition: 200ms;
  border-radius: 50%;
}

.iconeMostrarLocal {
  transition: 500ms;
}

.iconeMostrarLocal.rotate-180 {
  transform: rotate(-180deg);
  transition: 500ms;
}

.checkDiaSemana {
  margin-left: 5px;
  margin-right: 15px;
}