.input {
  border: 1px #c0c5ca solid;
  border-radius: 6px;
  color: #525252bd;
  background-color: var(--cor-light);
  padding: 10px;
  text-indent: 8px;
}

.input:focus {
  outline-color: #DCE1E6;
  outline-width: 1px;
}