.input {
  border: 1px #DCE1E6 solid;
  border-radius: 5px;
  color: #525252bd;
  background-color: var(--cor-light);
  padding: 10px;
  text-indent: 8px;
}

.input:focus {
  outline-color: #DCE1E6;
  outline-width: 1px;
}