.bg-footer {
  background: url('../UI/imagens/background-footer.png') no-repeat;
  background-size: 100% 100%;
  display: block;
  color: var(--cor-antagonista-principal);
  height: 260px;
}

.bg-footer-seg {
  background-color: var(--cor-dark);
  height: 650px;
  padding: 60px;
}

.div-titulos-rodape {
  color: var(--cor-antagonista-principal);
  text-align: justify;
  width: 250px;
  font-size: 16px;
  font-weight: 900;
}

.categorias {
  color: var(--cor-antagonista-principal);
  font-size: 14px;
  opacity: 0.9;
}

.detalhes {
  width: 20px;
  height: 10px;
  line-height: 20px;
}

.datalhes-contato {
  color: var(--cor-antagonista-principal);
  font-weight: 900;
  font-size: 18px;
  opacity: 10;
}

.mr-3 {
  margin-right: 18px;
}

.datalhes-contato-sub {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--cor-light);
}

.tamanho-maximo-lista{
  max-width: 150px;
}

.place-logo {
  color: var(--cor-antagonista-principal);
  font-weight: 1000;
  text-align: justify;
  width: 250px;
}

.maps-logo {
  color: var(--cor-principal);
  font-weight: 1000;
}

.div-enviar-nome-completo input{
  height: 47.61px;
}

.div-enviar-celular input{
  height: 47.61px;
}

.div-enviar-mensagem input{
  padding-bottom: 55px;
}

.borda {
  border: 2px black solid;
}

.texto-canal-noticia {
  font-weight: 900;
}

.texto-inscreva-se {
  font-weight: lighter;
  opacity: 0.9;
}


.endereco-email {
  opacity: 0.9;
}


.teste-margin {
  margin: 0 !important;
  padding: 0 !important; 
  height: fit-content;
}