.ul-lista-nao-ordenada {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-lista-nao-ordenada {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}

.ul-lista-nao-ordenada li {
  opacity: 0.9;
  list-style: none;
  font-weight: 300;
  font-size: 14px;
}