* {
  --cor-principal: #EC1F46;
  --cor-antagonista-principal: white;
  --cor-light: #F5FAFE;
  --cor-light-gray: #DFE3E8;
  --cor-dark-gray: #838A90;
  --cor-dark: #0A223D;
  --cor-black: black;
  --cor-light-azul: #F5FAFE;
  --cor-dark-medium: #2B3648;
  --cor-azul: #E5EFF8;
  --cor-perigo: #EC1F46;
  --cor-sucesso: #67CB56;
}

.color-principal {
  color: var(--cor-principal);
}

.color-light-gray {
  color: var(--cor-light-gray);
}

.color-dark-gray {
  color: var(--cor-dark-gray);
}

.color-antagonista-principal {
  color: var(--cor-antagonista-principal);
}

.color-light {
  color: var(--cor-light);
}

.color-dark {
  color: var(--cor-dark);
}

.color-black {
  color: var(--cor-black);
}

.color-perigo {
  color: var(--cor-perigo)
}

.color-sucesso {
  color: var(--cor-sucesso)
}

.bg-light-azul {
  background-color: var(--cor-light-azul);
}

.bg-principal {
  background-color: var(--cor-principal);
}

.bg-black {
  background-color: var(--cor-black);
}

.bg-antagonista-principal {
  background-color: var(--cor-antagonista-principal);
}

.bg-light {
  background-color: var(--cor-light);
}

.bg-light-gray {
  background-color: var(--cor-light-gray);
}

.bg-dark {
  background-color: var(--cor-dark);
}

.bg-dark-gray {
  background-color: var(--cor-dark-gray);
}